@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');

$font-size: 1rem;
$bg-color: rgb(240 244 247);
$main-black-color: rgb(53 70 105);
$main-dark-gray-color: rgb(146 153 164);
$main-medium-gray-color: rgb(172 175 184);
$main-light-gray-color: rgba(172, 175, 184, 0.25);
$main-pink-color: rgb(232 76 154);
$main-blue-color: rgb(44 102 231);

:root {
  --font-size: #{$font-size};
  --bg-color: #{$bg-color};
  --main-black-color: #{$main-black-color};
  --main-dark-gray-color: #{$main-dark-gray-color};
  --main-medium-gray-color: #{$main-medium-gray-color};
  --main-light-gray-color: #{$main-light-gray-color};
  --main-pink-color: #{$main-pink-color};
  --main-blue-color: #{$main-blue-color};

  --side-padding: 80px;
}

* {
  box-sizing: border-box;
}
html {
  font-size: $font-size;
  color: var(--main-black-color);
  background-color: $bg-color;
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  position: relative;
  height: 100%;
  font-weight: 450;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

.mainTitle {
  font-size: 3.5rem;
  width: 450px;
  line-height: 110%;
  position: absolute;
  top: 0;
  //left: 0;
}
