@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');

$font-size: 1rem;
$bg-color: rgb(240 244 247);
$main-black-color: rgb(53 70 105);
$main-gray-color: rgb(224 227 233);
$main-pink-color: rgb(232 76 154);
$main-blue-color: rgb(44 102 231);

:root {
  --font-size: #{$font-size};
  --bg-color: #{$bg-color};
  --main-black-color: #{$main-black-color};
  --main-gray-color: #{$main-gray-color};
  --main-pink-color: #{$main-pink-color};
  --main-blue-color: #{$main-blue-color};
}

* {
  box-sizing: border-box;
}
html {
  font-size: $font-size;
  color: var(--main-black-color);
  background-color: $bg-color;
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  position: relative;
  height: 100%;
}

.mainTitle {
  font-size: 4rem;
  width: 200px;
}
