.container {
  max-width: 1440px;
  margin: 0 auto;
  //color: green;
  //display: flex;

  border-left: 1px solid var(--light-blue-black-color);
  border-right: 1px solid var(--light-blue-black-color);

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--light-blue-black-color);
    left: 50%;
    top: 0;
  }
}

.historicalCircle {
  padding: 50px 0;
  position: relative;
}

.spinnerContainer {
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--light-blue-black-color);
    top: 50%;
    left: 0;
  }
}
