// Swiper
.swiper {
  width: 100%;
  //height: 300px;
}

.swiper-mainWrapper {
  padding: var(--main-padding);
  position: relative;

  .swiper-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;

    &-disabled {
      display: none;
    }

    &:after,
    &:after {
      font-size: 14px;
      font-weight: bold;
      color: var(--main-blue-color);
    }
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  text-align: left;

  &__year {
    color: var(--main-blue-color);
    font-size: 1.5rem;
  }
  &__desc {
    font-size: 1.25rem;
  }
}
